.sportSee-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    h2{
        text-align: left;
         padding: 32px 0 0 70px;
    }
    p{
        padding: 0 0 0 70px;
    }
}