/********************* couleurs et texte******************************************
             primaire #9356DC secondaire #FF79DA tertiaire #99E2D0
                           Texte Roboto
**********************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	margin: 0;
    position: relative;
    font-family: "Roboto";
 }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
a{
    text-decoration: none;
    color: black;
}
img{
    border:none;
}
h1{
    font-size: 24px;
}
p{
    font-size: 18px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#root{
    max-width: 100%;
    max-height: 1024px;
    margin:80px auto;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBar, .menu-graph-bloc{
    flex: 1;
}
@media screen and (max-width:1023px){
    #root{
        display: none;
    }
}