.spotSee-main-bloc {
    width: 100%;
    height: 928px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sportSee-main-graph {
    width: 835px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 50px;

    .sportSee-main-grapBloc {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 21px;
    }
}

.sportSee-main-right {
    width: 22%;
    height: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 39px;

    .sportSee-main-calories,
    .sportSee-main-protein,
    .sportSee-main-carbohydrate,
    .sportSee-main-lipid {
        width: 258px;
        height: 124px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        background: #FBFBFB;

        .sportSee-main-calImg {
            width: 60px;
            height: 60px;
            padding: 21px;
            margin-left: 12px;
            border-radius: 5px;

            img {
                width: 15px;
                height: 20px;
            }
        }

        .sportSee-main-calBloc {
            display: flex;
            flex-direction: column;

            .sportSee-main-calNum {
                width: 91px;
                font-size: 20px;
                margin-right: 51px;
                font-weight: 500;
            }

            .sportSee-main-calText {
                font-size: 14px;
            }
        }
    }

    .sportSee-main-calories {
        .sportSee-main-calImg {
            background: lighten(#FF0000, 40%);
        }
    }

    .sportSee-main-protein {
        .sportSee-main-calImg {
            background: lighten(#4AB8FF, 30%);
        }
    }

    .sportSee-main-carbohydrate {
        .sportSee-main-calImg {
            background: lighten(#F9CE23, 30%);
        }
    }

    .sportSee-main-lipid {
        .sportSee-main-calImg {
            background: lighten(#FD5181, 30%);
        }
    }
}

.sportSee-activity {
    width: 835px;
    height: 320px;
}

.sportSee-sessions,
.sportSee-performance,
.sportSee-score {
    width: 258px;
    height: 300px;
    background: #FBFBFB;
    border-radius: 5px;
}

.sportSee-sessions {
    position: relative;
    text-align: center;
    background: #FF0000;

    h2.text-sessions {
        position: absolute;
        top: 0;
        left: -34px;
        font-size: 15px;
        color: white;
        font-weight: 500;
    }
}

.sportSee-score {
    position: relative;
    line-height: 26px;
    .sportSee-pie-scoreTitle{
        font-size: 26px;
        font-weight: 700;
    }
    .sportSee-pie-scoreText{
        font-weight: lighter;
    }
    h2.sportSee-pie {
        font-size: 16px;
        position: absolute;
        top: 83px;
        left: 13%;
    }
}

.sportSee-performance {
    .recharts-wrapper {
        background: #282D30;
        border-radius: 5px;
    }
}

.sportSee-activity-item {
    width:100%;
    margin: 5px;
    padding: 5px;
    background: #FBFBFB;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    text-align: center;

    h2 {
        font-size: 15px;
        padding: 5px 0 10px 5px;
    }

}

.sportSee-sessions-item,
.sportSee-performance-item,
.sportSee-score-item {
    margin: 5px;
    padding: 5px;
    background: #FBFBFB;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

canvas {
    width: 100%;
}